@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo para la barra de desplazamiento con Tailwind */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #e0e0e0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Para Firefox */
.scrollbar-custom {
  scrollbar-width: thin;
  /* Hace que la barra sea más delgada */
  scrollbar-color: #888 #e0e0e0;
  /* Color del thumb y track */
}

.custom-popup {
  backdrop-filter: blur(10px);
  /* Aplicar el efecto de blur */
  background-color: rgba(255, 255, 255, 0.6);
  /* Fondo semitransparente */
  border: 1px solid rgba(255, 255, 255, 0.4);
  /* Borde semitransparente */
  border-radius: 8px;
  /* Bordes redondeados */
  padding: 10px;
  /* Padding */
  color: black;
  /* Texto en color negro */
  font-size: 14px;
  /* Tamaño del texto */
}